APP_PORT=8080
ASPNETCORE_ENVIRONMENT=Development

POSTGRES_IMAGE=pgvector/pgvector:pg17
POSTGRES_DB=prn222_rag
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
DATABASE_APPLY_MIGRATIONS_ON_STARTUP=true

AUTH_SEED_USERS=false
AUTH_ADMIN_EMAIL=admin@prn222.local
AUTH_ADMIN_PASSWORD=ChangeMe_Admin_123!
AUTH_ADMIN_DISPLAY_NAME=PRN222 Administrator
AUTH_SUBJECT_LEADER_EMAIL=leader@prn222.local
AUTH_SUBJECT_LEADER_PASSWORD=ChangeMe_Leader_123!
AUTH_SUBJECT_LEADER_DISPLAY_NAME=PRN222 Subject Leader
AUTH_STUDENT_EMAIL=student@prn222.local
AUTH_STUDENT_PASSWORD=ChangeMe_Student_123!
AUTH_STUDENT_DISPLAY_NAME=PRN222 Student

OLLAMA_IMAGE=ollama/ollama:0.32.5
OLLAMA_PORT=11434
OLLAMA_CHAT_MODEL=qwen3:4b
OLLAMA_EMBEDDING_MODEL=qwen3-embedding:0.6b
